# Server Configuration
API_PREFIX=/
PORT=8080

# Spring Profiles
ACTIVE_PROFILE=prod

# Multipart Settings
MAX_REQUEST_FILE_SIZE=100
MAX_REQUEST_SIZE=100

# Databse
DATABASE_JDBC_URL=jdbc:h2:tcp://application-db:9092//db/data/rag
DATABASE_USERNAME=sa
DATABASE_PASSWORD=java_user

# Storage Configuration
STORAGE_URL=http://storage:9000
STORAGE_ACCESS_KEY=java_user
STORAGE_SECRET_KEY=java_user
STORAGE_BUCKET=rag
STORAGE_UPLOAD_PATH=uploads

# Messaging Configuration
MESSAGING_HOST=messaging
MESSAGING_PORT=5672
MESSAGING_USERNAME=java_user
MESSAGING_PASSWORD=java_user

MESSAGING_EXCHANGE_NAME=file.processing.exchange
MESSAGING_REQUEST_QUEUE=file.processing.request.queue
MESSAGING_REQUEST_QUEUE_ROUTING_KEY=file.processing.request
MESSAGING_RESPONSE_QUEUE=file.processing.response.queue
MESSAGING_RESPONSE_QUEUE_ROUTING_KEY=file.processing.response

# Logging Configuration
LOGGING_LEVEL=INFO
LOGGING_PATH=logs
