FILE_UPLOAD_PATH=resource/uploads
KNOWLEDGE_BASE_PATH=resource/knowledge_base
# RAG_EMBEDDINGS_MODEL=sentence-transformers/all-MiniLM-L6-v2
RAG_EMBEDDINGS_MODEL="embeddings_model"
CHROMA_DB_URL=chromadb

LLM_API_ENDPOINT=https://api.groq.com/openai/v1/chat/completions
LLM_API_TOKEN=**GROQ_API_KEY**
LLM_MODEL_NAME=gemma2-9b-it

STORAGE_ENDPOINT=storage:9000
STORAGE_ACCESS_KEY=java_user
STORAGE_SECRET_KEY=java_user
STORAGE_BUCKET=rag

MESSAGING_HOST=messaging
MESSAGING_PORT=5672
MESSAGING_USERNAME=java_user
MESSAGING_PASSWORD=java_user

MESSAGING_EXCHANGE_NAME=file.processing.exchange
MESSAGING_REQUEST_QUEUE=file.processing.request.queue
MESSAGING_REQUEST_QUEUE_ROUTING_KEY=file.processing.request

MESSAGING_RESPONSE_QUEUE=file.processing.response.queue
MESSAGING_RESPONSE_QUEUE_ROUTING_KEY=file.processing.response
